.navbar {
    padding: 20px 0;
    background-color: grey;
    color: #000;
    font-size: 21px;


}

.navbar a {
    text-decoration: none;
    margin-left: 30px;

}
.navbar .menu{
margin-left: 25rem;
}